APIConsumo/Plan Pagos Consumo.json
{
  "name": "Plan Pagos Consumo",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "f3400cde-b058-4c8d-a580-0d6e83a66d1b",
      "name": "1. Trigger Cada 5 Minutos1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -768,
        128
      ]
    },
    {
      "parameters": {
        "url": "http://192.168.15.215:8010/api/consumo/listar-flujos-pendientes/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "b21b6d74-d657-4d06-bd05-4f753447b975",
      "name": "2. Listar Flujos Pendientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        128
      ]
    },
    {
      "parameters": {
        "url": "=http://192.168.15.215:8010/api/consumo/generar-pdf/{{ $json.PAGARE }}/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 120000
        }
      },
      "id": "42ba0396-b72a-425f-a9cf-dbb3b8f73a19",
      "name": "3. Generar PDF Individual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        128
      ]
    },
    {
      "parameters": {
        "fromEmail": "actualizaciones@congente.co",
        "toEmail": "={{ $json.MAIL }}",
        "subject": "=Congente le informa que su crédito ha sido desembolsado 🧡",
        "html": "=<div style=\"text-align: center; margin-bottom: 25px;\">\n  <img src=\"https://congente.coop/images/Icono/logoR.png#joomlaImage://local-images/Icono/logoR.png\"\n       alt=\"Cooperativa Congente\"\n       width=\"180\"\n       style=\"border: none;\">\n</div>\n\n<div style=\"max-width: 600px; margin: 0 auto; font-family: Arial, sans-serif; text-align: center; color: #333;\">\n  <p>Estimad@ <strong>{{ $json.NOMBRE }}</strong>,</p>\n\n  <p>\n    La <strong>Cooperativa de Ahorro y Crédito Congente</strong> se complace en informarle\n    que se ha realizado exitosamente el <strong>desembolso correspondiente a su crédito</strong> 🤗\n  </p>\n\n  <p>\n    Adjuntamos a este mensaje el documento oficial de liquidación de su crédito.\n    Le agradecemos su atención y la confianza depositada en nuestra cooperativa.\n  </p>\n\n  <p style=\"margin-top: 25px;\">\n    Solidariamente,<br>\n    <strong>Cooperativa de Ahorro y Crédito Congente</strong><br>\n🧡\n  </p>\n\n  <hr style=\"margin: 30px 0; border: none; border-top: 1px solid #ccc;\">\n\n  <p style=\"font-size: 12px; color: #777;\">\n    ⚙ <em>Mensaje generado automáticamente por el sistema. Por favor, no responda a este correo.</em><br>\n    Si requiere asistencia adicional, comuníquese con nosotros a través de nuestros canales oficiales:\n    <a href=\"https://congente.coop/\" style=\"color: #0b5394; text-decoration: none;\">www.congente.coop</a>\n  </p>\n</div>\n",
        "options": {
          "appendAttribution": false,
          "attachments": "=data"
        }
      },
      "id": "d219069d-7abb-406d-b470-92e1a9821c33",
      "name": "4. Enviar Email Individual",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        160
      ],
      "webhookId": "1cfa20b7-b554-41e3-b4b6-245478a0509f",
      "credentials": {
        "smtp": {
          "id": "8d8v3sSBkfnGcYqs",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "upload",
        "path": "=/opt/certificados/{{ $binary.data.fileName }}"
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e0c5b990-7ceb-461c-86cf-6f1b51e502f9",
      "name": "FTP",
      "notesInFlow": false,
      "credentials": {
        "sftp": {
          "id": "JxV0GDrb9kZpzqFC",
          "name": "FTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "actualizaciones@congente.co",
        "toEmail": "analista.desembolsos@congente.coop",
        "subject": "¡ Crédito Desembolsado - Consumo !",
        "html": "=<div style=\"max-width: 640px; margin: 0 auto; font-family: Arial, sans-serif; color: #333; border: 1px solid #e5e5e5; border-radius: 8px; overflow: hidden;\">\n  <div style=\"color: #000; padding: 18px 20px; text-align: center;\">\n    <img src=\"https://congente.coop/images/Icono/logoR.png#joomlaImage://local-images/Icono/logoR.png\" alt=\"Cooperativa Congente\" width=\"150\" style=\"border: none;\">\n    <h2 style=\"margin: 12px 0 0 0; font-size: 20px;\">CREDITO DESEMBOLSADO</h2>\n  </div>\n  <div style=\"padding: 22px; font-size: 14px; line-height: 1.5;\">\n    <p>Hola equipo,</p>\n    <p>Se desembolsó un crédito de consumo. Favor realizar validaciones segun protocolo (cobro de comisiones y recoger cartera).</p>\n    <div style=\"margin: 16px 0; padding: 14px 16px; background: #f8f8f8; border: 1px solid #eee; border-radius: 6px;\">\n      <p style=\"margin: 6px 0;\"><strong>Asociado(a):</strong> {{ $json.NOMBRE }}</p>\n      <p style=\"margin: 6px 0;\"><strong>Cédula:</strong> {{ $json.CEDULA }}</p>\n      <p style=\"margin: 6px 0;\"><strong>Pagaré:</strong> {{ $json.PAGARE }}</p>\n    </div>\n    <p>Gracias por la gestion oportuna.</p>\n    <p style=\"margin-top: 16px;\">Gerencia TI</p>\n  </div>\n  <div style=\"background: #f4f4f4; color: #777; font-size: 12px; text-align: center; padding: 12px;\">Mensaje generado automaticamente.</div>\n</div>",
        "options": {
          "appendAttribution": false,
          "ccEmail": "coordinador.credito@congente.coop",
          "bccEmail": "analista.desarrollodigital@congente.coop"
        }
      },
      "id": "81b3693a-857d-4901-a4ad-d23776587191",
      "name": "5. Notificacion Interna Recoge",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        320
      ],
      "webhookId": "ef94b218-fb83-40a6-8d8e-308c803c9e62",
      "credentials": {
        "smtp": {
          "id": "8d8v3sSBkfnGcYqs",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "1. Trigger Cada 5 Minutos1": {
      "main": [
        [
          {
            "node": "2. Listar Flujos Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Listar Flujos Pendientes": {
      "main": [
        [
          {
            "node": "3. Generar PDF Individual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Generar PDF Individual": {
      "main": [
        [
          {
            "node": "4. Enviar Email Individual",
            "type": "main",
            "index": 0
          },
          {
            "node": "FTP",
            "type": "main",
            "index": 0
          },
          {
            "node": "5. Notificacion Interna Recoge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6dd8a52b-85ff-40b6-bec9-bd5b033d919c",
  "meta": {
    "instanceId": "cf22348bf442d0414994b184c25893f3f3c0989623f85bd8feb8ed5035be0cc0"
  },
  "id": "E6pVzo0x0ROF95Qw",
  "tags": []
}