Plan de Pagos.json
{
  "name": "Plan de Pagos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "f2ecb6e9-8189-44eb-bd30-b1991723d814",
      "name": "1. Trigger Cada 5 Minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -760,
        40
      ]
    },
    {
      "parameters": {
        "url": "http://192.168.15.215:8010/api/listar-flujos-pendientes/",
        "responseFormat": "json",
        "options": {
          "timeout": 60000
        }
      },
      "id": "25d54a7e-9c20-44ad-9d3e-dd869124ea29",
      "name": "2. Listar Flujos Pendientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -520,
        40
      ]
    },
    {
      "parameters": {
        "url": "=http://192.168.15.215:8010/api/generar-pdf/{{ $json.PAGARE }}/",
        "responseFormat": "file",
        "options": {
          "timeout": 120000
        }
      },
      "id": "282673ba-55bc-4ce3-9991-efba9d7fab7d",
      "name": "3. Generar PDF Individual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        40
      ]
    },
    {
      "parameters": {
        "fromEmail": "actualizaciones@congente.co",
        "toEmail": "={{ $json.MAIL }}",
        "subject": "=Congente le informa que su credito ha sido desembolsado",
        "html": "=<div style=\"max-width: 640px; margin: 0 auto; font-family: Arial, sans-serif; color: #333;\">\n  <div style=\"text-align: center; padding: 12px 0 18px 0;\">\n    <img src=\"https://congente.coop/images/Icono/logoR.png#joomlaImage://local-images/Icono/logoR.png\" alt=\"Cooperativa Congente\" width=\"180\" style=\"border: none;\">\n  </div>\n  <p style=\"text-align: center; font-size: 15px;\">Estimado/a <strong>{{ $json.NOMBRE }}</strong>,</p>\n  <p style=\"text-align: center;\">La Cooperativa de Ahorro y Credito Congente le informa que el desembolso de su credito ha sido realizado exitosamente.</p>\n  <p style=\"text-align: center;\">Adjuntamos el documento oficial de liquidacion de su credito.</p>\n  <p style=\"text-align: center; margin-top: 24px;\">\n    Solidariamente,<br>\n    <strong>Cooperativa de Ahorro y Credito Congente</strong>\n  </p>\n  <hr style=\"margin: 30px 0; border: none; border-top: 1px solid #ddd;\">\n  <p style=\"font-size: 12px; color: #666; text-align: center;\">\n    Mensaje generado automaticamente. Por favor, no responda este correo.<br>\n    Si requiere ayuda adicional, visite <a href=\"https://congente.coop/\" style=\"color: #0b5394; text-decoration: none;\">www.congente.coop</a>\n  </p>\n</div>",
        "options": {
          "appendAttribution": false,
          "attachments": "data"
        }
      },
      "id": "951d5c60-2128-4095-b7da-a28f231b4959",
      "name": "4. Enviar Email Individual",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        20,
        80
      ],
      "webhookId": "1cfa20b7-b554-41e3-b4b6-245478a0509f",
      "credentials": {
        "smtp": {
          "id": "8d8v3sSBkfnGcYqs",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "upload",
        "path": "=/opt/certificados/{{ $binary.data.fileName }}"
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        20,
        -80
      ],
      "id": "fc6185c1-2880-479c-8482-6e268f227a0d",
      "name": "FTP",
      "notesInFlow": false,
      "credentials": {
        "sftp": {
          "id": "JxV0GDrb9kZpzqFC",
          "name": "FTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "number": [],
          "string": [
            {
              "value1": "={{ $json.RECOGE.toString() }}",
              "operation": "equal",
              "value2": "1"
            }
          ],
          "dateTime": []
        }
      },
      "id": "9b8f2b7f-1b1c-4c6e-8d5f-3a7b8e1a1b3c",
      "name": "5. IF Recoge Obligaciones",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -260,
        220
      ]
    },
    {
      "parameters": {
        "fromEmail": "actualizaciones@congente.co",
        "toEmail": "analista.desembolsos@congente.coop,coordinador.credito@congente.coop",
        "subject": "IMPORTANTE: Este credito recoge obligaciones",
        "html": "=<div style=\"max-width: 640px; margin: 0 auto; font-family: Arial, sans-serif; color: #333; border: 1px solid #e5e5e5; border-radius: 8px; overflow: hidden;\">\n  <div style=\"background: linear-gradient(90deg, #f26f21, #ff914d); color: #fff; padding: 18px 20px; text-align: center;\">\n    <img src=\"https://congente.coop/images/Icono/logoR.png#joomlaImage://local-images/Icono/logoR.png\" alt=\"Cooperativa Congente\" width=\"150\" style=\"border: none;\">\n    <h2 style=\"margin: 12px 0 0 0; font-size: 20px;\">Credito con recogida de obligaciones</h2>\n  </div>\n  <div style=\"padding: 22px; font-size: 14px; line-height: 1.5;\">\n    <p>Hola equipo,</p>\n    <p>Se registro un credito que <strong>recoge obligaciones</strong>. Favor realizar los ajustes y validaciones segun protocolo.</p>\n    <div style=\"margin: 16px 0; padding: 14px 16px; background: #f8f8f8; border: 1px solid #eee; border-radius: 6px;\">\n      <p style=\"margin: 6px 0;\"><strong>Asociado(a):</strong> {{ $json.NOMBRE }}</p>\n      <p style=\"margin: 6px 0;\"><strong>Pagaré:</strong> {{ $json.PAGARE }}</p>\n    </div>\n    <p>Gracias por la gestion oportuna.</p>\n    <p style=\"margin-top: 16px;\">Equipo de Desembolsos Automatizados</p>\n  </div>\n  <div style=\"background: #f4f4f4; color: #777; font-size: 12px; text-align: center; padding: 12px;\">Mensaje generado automaticamente.</div>\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "6. Notificacion Interna Recoge",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        20,
        220
      ],
      "credentials": {
        "smtp": {
          "id": "8d8v3sSBkfnGcYqs",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "1. Trigger Cada 5 Minutos": {
      "main": [
        [
          {
            "node": "2. Listar Flujos Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Listar Flujos Pendientes": {
      "main": [
        [
          {
            "node": "3. Generar PDF Individual",
            "type": "main",
            "index": 0
          },
          {
            "node": "5. IF Recoge Obligaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Generar PDF Individual": {
      "main": [
        [
          {
            "node": "4. Enviar Email Individual",
            "type": "main",
            "index": 0
          },
          {
            "node": "FTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. IF Recoge Obligaciones": {
      "main": [
        [
          {
            "node": "6. Notificacion Interna Recoge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "efff1c1e-dda3-4e89-b5bc-a1817b899f44",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf22348bf442d0414994b184c25893f3f3c0989623f85bd8feb8ed5035be0cc0"
  },
  "id": "1Syk592k68zZaAp9",
  "tags": []
}
