plan_pagos_n8n.json
{
  "name": "Plan de Pagos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "d043b74f-6804-4b09-9411-b93dc68574d5",
      "name": "1. Trigger Cada 5 Minutos1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1392,
        1248
      ]
    },
    {
      "parameters": {
        "url": "http://192.168.15.215:8010/api/listar-flujos-pendientes/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "49db2773-1749-4a78-80d0-396445bc31c4",
      "name": "2. Listar Flujos Pendientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        1248
      ]
    },
    {
      "parameters": {
        "url": "=http://192.168.15.215:8010/api/generar-pdf/{{ $json.OBLIGACION }}/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 120000
        }
      },
      "id": "d7790f5b-1f8a-444b-b365-9f9a3ea6cf00",
      "name": "4. Generar PDF Individual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1936,
        1248
      ]
    },
    {
      "parameters": {
        "fromEmail": "actualizaciones@congente.co",
        "toEmail": "={{ $json.MAIL }}",
        "subject": "=Congente le informa que su crédito ha sido desembolsado 🧡",
        "html": "=<div style=\"text-align: center; margin-bottom: 25px;\">\n  <img src=\"https://congente.coop/images/Icono/logoR.png#joomlaImage://local-images/Icono/logoR.png\"\n       alt=\"Cooperativa Congente\"\n       width=\"180\"\n       style=\"border: none;\">\n</div>\n\n<div style=\"max-width: 600px; margin: 0 auto; font-family: Arial, sans-serif; text-align: center; color: #333;\">\n  <p>Estimad@ <strong>{{ $json.NOMBRE }}</strong>,</p>\n\n  <p>\n    La <strong>Cooperativa de Ahorro y Crédito Congente</strong> se complace en informarle\n    que se ha realizado exitosamente el <strong>desembolso correspondiente a su crédito</strong> 🤗.\n  </p>\n\n  <p>\n    Adjuntamos a este mensaje el documento oficial de formalización de su crédito.\n    Le agradecemos su atención y la confianza depositada en nuestra cooperativa.\n  </p>\n\n  <p style=\"margin-top: 25px;\">\n    Solidariamente,<br>\n    <strong>Cooperativa de Ahorro y Crédito Congente</strong><br>\n 🧡\n  </p>\n\n  <hr style=\"margin: 30px 0; border: none; border-top: 1px solid #ccc;\">\n\n  <p style=\"font-size: 12px; color: #777;\">\n    ⚙ <em>Mensaje generado automáticamente por el sistema. Por favor, no responda a este correo.</em><br>\n    Si requiere asistencia adicional, comuní­quese con nosotros a través de nuestros canales oficiales:\n    <a href=\"https://congente.coop/\" style=\"color: #0b5394; text-decoration: none;\">www.congente.coop</a>\n  </p>\n</div>\n",
        "options": {
          "appendAttribution": false,
          "attachments": "=data",
          "bccEmail": "coordinador.garantias@congente.coop"
        }
      },
      "id": "96d504b7-0bd2-4d65-82bd-0d8b9e2a1abc",
      "name": "5. Enviar Email Individual",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2112,
        1248
      ],
      "webhookId": "1cfa20b7-b554-41e3-b4b6-245478a0509f",
      "credentials": {
        "smtp": {
          "id": "8d8v3sSBkfnGcYqs",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "1. Trigger Cada 5 Minutos1": {
      "main": [
        [
          {
            "node": "2. Listar Flujos Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Listar Flujos Pendientes": {
      "main": [
        [
          {
            "node": "4. Generar PDF Individual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Generar PDF Individual": {
      "main": [
        [
          {
            "node": "5. Enviar Email Individual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "115ca65d-a0cc-4439-9603-89f46b247aec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf22348bf442d0414994b184c25893f3f3c0989623f85bd8feb8ed5035be0cc0"
  },
  "id": "1Syk592k68zZaAp9",
  "tags": []
}
