plan_pagos_n8n.json
{
  "name": "Disparador de Plan de Pagos a PDF (Individual)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "* * * * *"
            }
          ]
        }
      },
      "id": "schedule_trigger",
      "name": "1. Trigger Cada Minuto",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://192.168.15.215:8010/api/listar-flujos-pendientes/",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "listar_flujos",
      "name": "2. Listar Flujos Pendientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1
      },
      "id": "split_in_batches",
      "name": "3. Procesar Uno por Uno",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://192.168.15.215:8010/api/generar-pdf/{{ $json.K_FLUJO }}/",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "generar_pdf",
      "name": "4. Generar PDF Individual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "actualizaciones@congente.co",
        "toEmail": "={{ $json.K_EMAIL }}",
        "subject": "Plan de Pagos - {{ $json.NNASOCIA }}",
        "text": "Se adjunta el PDF con su plan de pagos.",
        "options": {}
      },
      "id": "enviar_email",
      "name": "5. Enviar Email Individual",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1360,
        300
      ],
      "credentials": {
        "emailSend": {
          "id": "YOUR_EMAIL_CREDENTIAL_ID",
          "name": "Your Email Account"
        }
      }
    }
  ],
  "connections": {
    "1. Trigger Cada Minuto": {
      "main": [
        [
          {
            "node": "2. Listar Flujos Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Listar Flujos Pendientes": {
      "main": [
        [
          {
            "node": "3. Procesar Uno por Uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Procesar Uno por Uno": {
      "main": [
        [
          {
            "node": "4. Generar PDF Individual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Generar PDF Individual": {
      "main": [
        [
          {
            "node": "5. Enviar Email Individual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}